<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="/css/viewPage.css"> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>livestock List</title>
</head>
<body>

    <h1><b>List of registered Livestock</b></h1>
    <div class="container">
    <div class="border" style="margin-top: 1px;">
    <table id="myTable" class="table table-hover table-striped text-left my-3" style="width: 100%;">


        <thead>
            <tr>
                <th>Animal number (ID)</th>
                <th>Gender</th>
                <th>Breed</th>
                <th>Weight</th>
                <th>Age</th>
                <th>Date of Birth</th>
                <th></th>
            </tr>
        </thead>
        <tbody> 
        <% animalList.forEach(function(list) { %>
          
            <tr>
                <td>
                    <%= list.AnimalNumber %>
                </td>
                <td>
                    <%= list.Gender %>
                </td>
                <td>
                    <%= list.Breed %>
                </td>
                <td>
                    <%= list.Weight %>
                </td>
                <td>
                    <%= list.Age %>
                </td>
                <td>
                    <%= list.DateOfBirth %>
                </td>

                <td>
                    <button class="btn btn-danger" onclick="location.href='/form/livestock/delete/<%= list._id %>'" type="button">Delete</button>
                </td>
                
            </tr>    
                   
                <% }) %> 
        </tbody>
               

    </table>
</div>
        <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
        <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap4.min.js"></script> 
        <script>
            $(document).ready( function () {
                $('#myTable').DataTable();
        } );
        </script>
</div>
</body>
</html>

